* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: orange;
}
nav {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}

button {
  background-color: royalblue;
}
input {
  padding: 10px;
}

.section__img{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.section__img img{
  width: 250px;
  height: 300px;
  background-color: grey;
  padding: 10px;
}

